In [ ]:
'''
1.A)

here dataset is the 2 csv files are DS_Skill7_IND,DS_Skill7_US

Q1. Write a program in python to find the variance of body temperature of both the countries. Var(Bodytemp_india), var(Bodytemp_usa) ?

Q2. Write a program in python to find the variance of sum of body temperature of both the countries. Find var( Bodytemp_india +  Bodytemp_usa).

Q3. Write a program in python to find the variance of height of both the countries. Var(Height_usa), var(Height_int) ?

Q4. Write a program in python to find the variance of sum of height of both the countries. Find var( Height_ind +  Height_usa).

1.B)

here dataset is iris dataset...

Q1. Write a program in python to find the variance of ‘SepalLengthCm’ and ‘SepalWidthCm’ . Var(SepalLengthCm), var(SepalWidthCm) ?

Q2. Write a program in python to find the variance of sum of ‘SepalLengthCm’ and ‘SepalLengthCm’. Find variance(SepalLengthCm + SepalWidthCm).


'''

In [4]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('DS_Skill7_IND - Sheet1.csv')
df1 = pd.read_csv('DS_Skill7_US - Sheet1.csv')

In [11]:
df.head(2)

   Sl. No Name   SSN NO Country  Bodytemp_india  Height_ind(Feet)
0       1    A  15ind01     IND            98.4               5.8
1       2    B  15ind02     IND            98.4               5.7

In [13]:
df1.head(2)

   Sl. No Name  SSN NO Country  Bodytemp_usa  Height_usa(feet)
0       1    x  12us01     USA          97.2               6.4
1       2    y  12us02     USA          97.4               6.5

In [14]:
df.describe()

         Sl. No  Bodytemp_india  Height_ind(Feet)
count  10.00000       10.000000         10.000000
mean    5.50000       98.540000          5.640000
std     3.02765        0.516828          0.330656
min     1.00000       97.800000          5.100000
25%     3.25000       98.400000          5.425000
50%     5.50000       98.600000          5.600000
75%     7.75000       98.750000          5.775000
max    10.00000       99.600000          6.200000

In [16]:
df1.describe()

         Sl. No  Bodytemp_usa  Height_usa(feet)
count  10.00000     10.000000         10.000000
mean    5.50000     98.300000          6.201000
std     3.02765      0.742369          0.480519
min     1.00000     97.200000          5.110000
25%     3.25000     97.650000          5.975000
50%     5.50000     98.550000          6.350000
75%     7.75000     98.825000          6.500000
max    10.00000     99.200000          6.700000

In [29]:
# Q1. Write a program in python to find the variance of body temperature of both the countries. Var(Bodytemp_india), var(Bodytemp_usa) ?
df['Bodytemp_india'].var()

0.26711111111110974

In [30]:
df1['Bodytemp_usa'].var()

0.5511111111111116

In [28]:
# Q2. Write a program in python to find the variance of sum of body temperature of both the countries. Find var( Bodytemp_india +  Bodytemp_usa).
que2 = (df['Bodytemp_india']+df1['Bodytemp_usa'])
# que2
que2.var()

1.227111111111105

In [35]:
# Q3. Write a program in python to find the variance of height of both the countries. Var(Height_usa), var(Height_ind) ?
df['Height_ind(Feet)'].var()

0.10933333333333334

In [38]:
df1['Height_usa(feet)'].var()

0.2308988888888888

In [41]:
# Q4. Write a program in python to find the variance of sum of height of both the countries. Find var( Height_ind +  Height_usa).
que4 = (df['Height_ind(Feet)']+df1['Height_usa(feet)'])
que4.var()

0.18369888888888872

In [43]:
# 1B.

dfb = pd.read_csv('Iris.csv')
dfb.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [45]:
# Q1. Write a program in python to find the variance of ‘SepalLengthCm’ and ‘SepalWidthCm’ . Var(SepalLengthCm), var(SepalWidthCm) ?

dfb['SepalLengthCm'].var()

0.6856935123042505

In [46]:
dfb['SepalWidthCm'].var()

0.18800402684563763

In [49]:
# Q2. Write a program in python to find the variance of sum of ‘SepalLengthCm’ and ‘SepalLengthCm’. Find variance(SepalLengthCm + SepalWidthCm).
que2b = sum(dfb['SepalLengthCm'],dfb['SepalWidthCm'])
que2b.var()

0.18800402684563527